---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>Course Instructor</h2>
<ul style="list-style-type: disc; line-height: 1.8; font-size: 0.95em; padding-left: 1.2em;">
{% for course in site.data.teaching.instructing %}
  <li>{{ course.course_code }} - {{ course.title }} ({{ course.semester }})</li>
{% endfor %}
</ul>

<h2>Teaching Assistant / Grader</h2>
<ul style="list-style-type: disc; line-height: 1.8; font-size: 0.95em; padding-left: 1.2em;">
{% for course in site.data.teaching.assisting %}
  <li>{{ course.course_code }} - {{ course.title }} ({{ course.semester }})</li>
{% endfor %}
</ul>
